.MainFounders {
  width: 100%;
  height: 440px;
  background-color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  h2 {
    font-family: Quicksand;
    font-size: 36px;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    font-weight: 100;
    color: #ffffff;
    margin: 0;
    padding: 0;
    margin-top: 60px;
  }
}

.MainFoundersSubContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 734px;
}
