.Navigation {
  width: 505px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.NavigationItem {
  width: 125px;
  height: 30px;
  border: solid 2px #0f999c;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 100;
  color: #ffffff;
  cursor: pointer;
  transition: all .3s ease;
  position: relative;
}

.NavigationItem:hover {
  background-image: url('https://image.ibb.co/jjDNoo/tech_Backs_Artboard_20.png');
}

.InnerItem {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-size: cover;
  transition: all .3s ease;
  position: relative;
  z-index: 9999;
}

.NavActive {
  background-color: #0f999c;
}
