.Footer {
    img {
        width: 150px;
        height: 150px;
    }
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    bottom: 0;
}

.FooterCopy {
    font-family: 'Lustria';
    font-size: 16px;
    margin-left: 50px;
}

.FooterLogo {
    margin-right: 50px;
}